@font-face {
  font-family: 'universe';
  src: url('/fonts/universe.ttf') forat('truetype');
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  color: grey;
  background-color: black;
}

.large-hero__title {
  font-family: 'universe', sans-serif;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

#social {
  background-color: lightgrey;
  color: black;
}

.soundcloud-iframe {
  width: 100%;
}
