
@font-face {
  font-family: 'universe';
  src: url('/fonts/universe.ttf') forat('truetype');
}

body {
  font-family: 'universe', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}