.headline {
  font-size: 1.5rem;
  font-weight: 200;

  @mixin atSmall {
  font-weight: 300;
  font-size: 2.875rem;
  }

  &--centered {
    text-align: center;
  }

  &--small {
    font-size: 1.2rem;
    @mixin atSmall {
      font-size: 1.875rem;
    }
  }
}