.large-hero {
  position: relative;

  &__text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
  }

  &__title {
    font-weight: 300;
    font-size: 2.8rem;
  }

}