.page-section {
  padding: .5rem 0;

  @mixin atMedium {
    padding: 4.5rem 0;
  }
  

  &__gray {
    background-color: black;
    color: lightgray;
  }

  &--row-equal-at-medium {
    @mixin atMedium {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }
  
  
}