.primary-nav {

  &--pull-right {
    float: right;
  }

  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    list-style: none;
    float: left;
    padding: 12px 12px;
  }

  a {
    color: white;
    font-weight: 300;
    text-decoration: none;
    display: block;
    padding: 2px 50px 12px 0;
    font-size: 3em;
  }
}